@import "../../../styles/main.scss";
.container {
    display: grid;
    height: 100vh;
    margin-left: toRem(80);
    background-color: $primary;
    place-content: center;

    @include mobile {
        margin-left: 0;
    }

    .artist_img {
        border-radius: 100%;
        justify-self: center;
        margin-bottom: 3rem;

        @include mobile {
            width: 80rem;
            height: 80rem;
        }
    }
    .artist_name {
        text-align: center;
        font-size: 7rem;
        margin-bottom: 4rem;
        font-family: "Bold";

        @include mobile {
            font-size: 10rem;
            margin-bottom: 8rem;
        }
    }

    .info {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        @include mobile {
            gap: 5rem;
        }

        &_container {
            .value {
                text-align: center;
                font-size: 2.8rem;
                font-family: "Bold";
                text-transform: capitalize;
                color: rgb(80, 155, 245);

                @include mobile {
                    font-size: 8rem;
                }
            }

            .label {
                text-align: center;
                font-family: "Book";
                font-size: 1.4rem;
                color: rgb(155, 155, 155);
                @include mobile {
                    font-size: 5rem;
                }
            }
        }
    }
}
