/* /styles/fonts.css */
@font-face {
  font-family: "Bold";
  src: url("/fonts/CircularStd-Black.woff") format("woff"),
    url("/fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BoldItalic";
  src: url("/fonts/CircularStd-BlackItalic.woff") format("woff"),
    url("/fonts/CircularStd-BlackItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/CircularStd-Medium.woff") format("woff"),
    url("/fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MediumItalic";
  src: url("/fonts/CircularStd-MediumItalic.woff") format("woff"),
    url("/fonts/CircularStd-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Book";
  src: url("/fonts/CircularStd-Book.woff") format("woff"),
    url("/fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BookItalic";
  src: url("/fonts/CircularStd-BookItalic.woff") format("woff"),
    url("/fonts/CircularStd-BookItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 0.6944vw;
}

body {
  font-family: "Book";
  font-size: 1.5rem;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

p {
  font-weight: 500;
  font-size: toRem(100);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  cursor: pointer;
}

ul {
  list-style: none;
}

hi {
  font-size: 32px;
}


button{
  background-color: inherit;
  border: none;
  color: white;
  font-family: "Medium";
}