@import "styles/main.scss";

.container {
    width: 100vw;
    height: 100dvh;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .signup__wrapper {
        h1 {
            font-size: toRem(32);
            margin-bottom: toRem(17);
            text-align: center;
            font-family: "Book";

            span {
                color: $generic-color;
            }

            @include mobile {
                font-size: toRem(70);
                margin-bottom: toRem(45);
                font-family: "Book";
                font-weight: 500;
            }
        }

        .btn {
            background-color: $generic-color;
            border: none;
            font-family: "Book";
            font-weight: 600;
            color: black;
            cursor: pointer;
            border-radius: 1.5em;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding: 1em 2em;

            @include mobile {
                padding: 1em 1.5em;
                font-weight: 500;
            }
        }
    }

    footer {
        position: absolute;
        letter-spacing: 1px;
        color: $generic-color;
        font-size: 1.2rem;
        font-family: "Book";
        bottom: 1rem;
        justify-self: last baseline;

        @include mobile {
            font-size: 3.8rem;
            bottom: 6rem;
        }
    }
}

.loader {
    width: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: $primary;
    .bars {
        width: 50.4px;
        height: 44.8px;
        background: linear-gradient(#0000 calc(1*100%/6),$unActive 0 calc(3*100%/6),#0000 0) left bottom,
             linear-gradient(#0000 calc(2*100%/6),$unActive 0 calc(4*100%/6),#0000 0) center bottom,
             linear-gradient(#0000 calc(3*100%/6),$unActive 0 calc(5*100%/6),#0000 0) right bottom;
        background-size: 10.1px 600%;
        background-repeat: no-repeat;
        animation: bars-j7enxv 1s infinite linear;
     }
     
     @keyframes bars-j7enxv {
        100% {
           background-position: left top,center top,right top;
        }
     }
}
